@section scripts
{
    @Scripts.Render("~/Scripts/Angular-Controllers/HomeCtrl.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/CustomersCtrl.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/EmployeesCtrl.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/SchedulesCtrl.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/ReportsCtrl.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/ProfileCtrl.js")
}

<div ng-click="HideUserLoggedIn()" class="homecontainer" ng-controller="HomeCtrl" ng-init="initiate()">
    <div>
        <div style="float: left;">
            <img src="../../Images/logo.png" alt="Logo" width="148" height="114" />
        </div>
        <div style="float: right">
            <div style="float: left; background-color: #a36064; height: 30px; padding: 5px;">
                <div style="color: white;">
                    {{LoggedInAs}}                                                                        
                </div>
            </div>
            <div style="float: left; background-color: #8a5659; width: 20px; height: 30px;">
                <div ng-click="userLoggedInInfo()" style="margin-left: 4px; margin-top: 4px; cursor: pointer;">
                    <img src="../../Images/arrowDown.png" alt="arrow Down" />
                </div>
            </div>
            <div style="height: 32px;"></div>
            <div ng-show="showUserLoggedIn" style="background-color: white; border: 1px solid #841d23; height: 70px; box-shadow: 2px 2px 1px #888888; padding: 5px;">
                <div ng-click="logout()" style="cursor: pointer;">Logout</div>
                <div style="height: 5px;"></div>
                <div style="border-bottom: 1px solid #841d23;"></div>
                <div style="height: 5px;"></div>
                <div ng-click="showPasswordChangeModal()" style="cursor: pointer;">Change password</div>
            </div>
        </div>
    </div>
    <div style="height: 130px;"></div>
    <div ng-show="showCompanySection">
        <div style="background-color: #a36064; height: 40px; width: 100%; padding: 5px">
            <div ng-repeat="menu in menus">
                <div ng-click="loadSection(menu.menuName)" style="cursor: pointer; float: left; margin-left: 5px; height: 30px; width: 130px; text-align: center; background-color: white; font-weight: bold">
                    <span style="position: relative; top: 5px;">{{menu.menuName}}</span>
                </div>
            </div>
            <div style="float: right; margin-right: 5px; margin-top: 2px;">
                <input type="text" ng-model="search.item" placeholder="Search" />
            </div>
        </div>
        <br />
        <!--Customers-->
        <div ng-show="menus[0].show">
            @Html.Partial("~/Views/Partials/_Customers.cshtml")
        </div>
        <!--Employees-->
        <div ng-show="menus[1].show">
            @Html.Partial("~/Views/Partials/_Employees.cshtml")
        </div>
        <!--Schedules-->
        <div ng-show="menus[2].show">
            @Html.Partial("~/Views/Partials/_Schedules.cshtml")
        </div>
        <!--Reports-->
        <div ng-show="menus[3].show">
            @Html.Partial("~/Views/Partials/_Reports.cshtml")
        </div>
        <!--Profile-->
        <div ng-show="menus[4].show">
           @Html.Partial("~/Views/Partials/_Profile.cshtml")
        </div>
    </div>
    <!-- Employee Section-->
    <div ng-show="showEmployeeSection">
        Employee
    </div>
        <!-- Modal -->
     <div ng-show="showChangePasswordModal" class="modalcontainer">
        <div class="modalbg" ng-click="hideChangePasswordModal()"></div>
        <!--Customer Modal Content-->
         <div id="changepasswordmodalcontent">
             <div>
                 <div style="float: left;">
                     <img src="../../Images/customer.png" alt="customer" />
                 </div>
                 <div style="float: left; font-weight: bold; color: #841d23; margin-top: 5px; margin-left: 5px;">Change Password</div>
                 <div ng-click="hideChangePasswordModal()" style="cursor: pointer; background-color: #a36064; height: 30px; width: 30px; float: right">
                     <div style="color: white; font-weight: bold; font-size: 20px; margin-top: 2px; margin-left: 8px;">X</div>
                 </div>
             </div>
            <div style="height: 40px;"></div>
            <div style="color: #d2691e" ng-show="showPasswordChangeError">{{passwordChangeErrorMessage}}</div>
            <div style="height: 10px;"></div>
            <div style="background-color: #f3eeee; height: 380px; padding: 10px;">
                <div>
                    <div style="color: #841d23;">Current</div>
                    <input type="password" style="width: 255px;" ng-model="changePasswordDetails.oldPassword" />
                </div>
                <div>
                    <div style="color: #841d23;">New</div>
                    <input type="password" style="width: 255px;" ng-model="changePasswordDetails.newPassword" />
                </div>
                <div>
                    <div style="color: #841d23;">Retype New</div>
                    <input type="password" style="width: 255px;" ng-model="changePasswordDetails.retypeNewPassword" />
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div style="float: right">
                <div ng-click="hideChangePasswordModal()" style="float: left; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 112px; color: white; font-weight: bold; cursor: pointer; text-align: center">Cancel</div>
                <div ng-click="savePassword()" style="float: left; margin-left: 5px; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 112px; color: white; font-weight: bold; cursor: pointer; text-align: center">Save</div>
            </div>
        </div>
        
    </div>
</div>
